/*----------------
     GENERAL
----------------*/
.ms-wrapper {
    height: 100vh;
}

.ms-wrapper-sections {
    overflow-y: auto;
}

/*----------------
     HEADER
----------------*/

header {
    height: 62px;
}

.ms-bg-header-row {
    background-color: white;
    height: 100%;
}

.ms-logo img:last-child {
    max-width: 3rem;
    height: 3rem;
}

.ms-col-size {
    height: 40%;
}

.ms-bg-search {
    background-color: #e5e5e5;
}

.ms-search-size {
    max-height: 80%;
}

.fa-bell {
    color: #ff8f00;
}

/*----------------
      MAIN
----------------*/

.ms-ctn-main-height {
    height: calc(100vh - 56px);
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*--- ASIDE ---*/

aside {
    width: 5.25rem;
    background-image: url(./img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}

aside .container,
aside .row {
    height: 100%;
}

aside a {
    color: white;
    text-decoration: none;
}


/*--- SECTIONS ---*/

/* first section */

.ms-section-width,
.ms-wrapper-sections {
    width: 100%;
}

section:first-child {
    color: white;
}

.ms-bg-badges {
    background-color: rgba(0,0,0,0.2);
}

.ms-offcanvas {
    width: 55vw!important;
}

/* second section */

.ms-table-row {
    width: 100%;
}

.table img {
    max-width: 2rem;
    margin-right: 0.5rem;
}

.ms-badge {
    color: white!important;
}

table td:first-child {
    width: 60%;
    text-align: left;
}

table button {
    width: 2.5rem;
    height: 2.5rem;
}

/*----------------
       M Q
----------------*/

/*--- SM >=768 PX ---*/

@media screen and (min-width: 768px) {

    /* Sections */

    .ms-text-alignment {
        text-align: center;
    }

    table td:first-child {
        width: 50%;
    }
}

/*--- MD X < 992 PX ---*/

@media screen and (max-width: 991px) {

    /* Aside */

    aside {
        text-align: center;
    }

    /* Sectons */

    .ms-offcanvas {
        width: 100vw!important;
    }
}

/*--- LG >= 992 PX ---*/

@media screen and (min-width: 992px) {

    /* Aside */

    aside {
        width: 12rem;
    }

    aside i {
        margin-left: 1.5rem;
    }

    aside span,
    aside i {
        margin-left: 0.7rem;
    }
}

/*--- XXL >= 1400 PX ---*/

@media screen and (min-width: 1400px) {

    /* Sections */

 .ms-text-alignment {
     text-align: end;
 }    
}